:root {
    /* b&w */
    --stone-050: #fafaf9;
    --stone-100: #f5f5f4;
    --stone-200: #e7e5e4;
    --stone-300: #d6d3d1;
    --stone-400: #a8a29e;
    --stone-500: #78716c;
    --stone-600: #57534e;
    --stone-700: #44403c;
    --stone-800: #292524;
    --stone-900: #1c1917;
    --stone-950: #0c0a09;

    /* colors */
    --red: #ef4444;
    --orange: #f97316;
    --amber: #f59e0b;
    --yellow: #eab308;
    --lime: #84cc16;
    --elouan-green: #7DB84F;
    --green: #22c55e;
    --emerald: #10b981;
    --teal: #14b8a6;
    --cyan: #06b6d4;
    --sky: #0ea5e9;
    --blue: #3b82f6;
    --indigo: #6366f1;
    --violet: #8b5cf6;
    --purple: #a855f7;
    --fuchsia: #d946ef;
    --pink: #ec4899;
    --rose: #f43f5e;

    /* link colors */
    --github: var(--stone-100);
    --bluesky: #048bff;
    --email: var(--violet);
    --rss: var(--orange);
    --reddit: #FF4500;
    --signal: #3A76F0;
    --discord: #3242ED;
    --default-highlight: var(--fuchsia);

    --font-mono: 'JetBrains Mono', 'SF Mono', 'Roboto Mono', 'Cascadia Code', monospace;
}

body {
    font-family: Inter, sans-serif;
    max-width: 750px;
    margin: 0 auto;
    padding: 30px 10px;
    font-size: 1.1em;
    background-color: var(--stone-950);
    color: var(--stone-200);
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-family: var(--font-mono);
    line-height: 1.2;
}

.heading {
    font-family: var(--font-mono);
    line-height: 1.2;
    text-decoration: none;
}

.heading a {
    text-decoration: none;
}

ul {
    padding-inline-start: 1em;

    >li {
        list-style: '- ';
    }
}

*::selection {
    background-color: var(--indigo);
    color: var(--stone-600);
}

a.big {
    padding: 0.1em;
    font-weight: bold;
    margin: 0 0.2em;

    &:first-of-type {
        margin-left: 0;
    }
}

a {
    --color: var(--blue);
    color: var(--color);

    &.heading {
        text-decoration: none;
    }

    &:hover {
        background-color: var(--color);
        color: var(--stone-950);
        outline: 2px solid var(--color);
    }

    &:focus {
        outline: 2px solid var(--color);
        text-decoration: none;
    }
}

label {
    display: block;
    padding: 0.3em 0;
    margin-bottom: 1em;

    >* {
        display: block;
    }
}

input.search {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    margin-top: 0.5em;
    font-size: 1rem;
    color: var(--stone-50);
    background-color: var(--stone-800);
    border: 2px solid var(--stone-700);
    outline: none;
    font-family: var(--font-mono);
}

input.search:focus {
    border-color: var(--blue);
}

button {
    --color: var(--blue);
    padding: 0.7em 1.5em;
    font-size: 1rem;
    font-family: var(--font-mono);
    
    background-color: transparent;
    border: 2px solid var(--color);
    color: var(--color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: var(--color);
    color: var(--stone-950);
}

#result {
    margin-top: 2em;
    padding: 1em;
    background-color: var(--stone-900);
    border: 1px solid var(--stone-800);
    display: none; /* Hidden by default */
}

#result.error {
    --color: var(--red);
    color: var(--color);
    border-left: 4px solid var(--color);
}

#result.success {
    --color: var(--green);
    color: var(--color);
    border-left: 4px solid var(--color);
}